
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height:100vh;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact_header{
    display: flex;
    background-color:  #F0EFEF;
    align-items: center;
    flex-direction: column;
}

nav{
    margin-top: 2em;
    display:flex;
    justify-content: flex-start;
}

nav >div{ 
    margin:0 2em;
}

nav >div:first-child{
    margin-right:20em;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
}

.signup-link{
    background-color: #2369AA;
    padding: 1em;
    border-radius: 5px;
    color: #fff;
}

.title{
    margin-top: 5em;
    margin-bottom: 2em;
}

.info > div{
margin-top: 3em;
}

.info2{
    display: flex;
    justify-content: space-evenly;
    
}

.contact_icon{
    width: 8em;
}
