*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{

    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: flex-start; 
   flex-direction: column;
   font-family:  Verdana, Geneva, Tahoma, sans-serif;
   background-image: url(../assets/images/this2.jpg);
    background-position: 0 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container{
    display:flex;  
   padding: 2em;
   flex-wrap: wrap;
   border-radius: 5px;
   box-shadow: 2px 2px 5px 2px #888888;
}
.signup-form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form > div{
    margin-bottom: 1.5em;
}
.right-side{
    margin:2em;
}

.field{
    height: 2.5em;
    width: 25em;
    border-radius:5px;
}

.btn-signup{
    margin: auto;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius:8px;
    color: #fff;
    background-color: #252526
}

.btn-signup:hover{
    transform: scale(1.05);
}

.back{
    text-align: right;
    margin-right: 12em;
    margin-top: 3em;
    text-decoration: none;
}
#back-link{
    text-decoration: none;
}

@media screen and (max-width: 760px){
.container{
    display: flex;
    flex-direction: column;
}
}