*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../assets/images/rectangle.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.wrapper{
    height:100vh;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    margin-top: 2rem;
}
nav{
    display:flex;
    justify-content: flex-start;
}

nav >div{  
    margin:0 2em;
}

nav >div:first-child{
    margin-right:20em;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
}

.signup-link{
    background-color: #252526;
    padding: 1em;
    border-radius: 5px;
    color: #fff;
}

.highlight{
    display: flex;
    width:70%;
    height:70% ;
    justify-content: center;
    align-items:center;
}

.content{
    margin:0 2em;
}


.moreBtn{
    width: 15em;
    height: 4em;
    border-radius: 10px;
    background-color: #252526;
    color:#fff;
    font-size: 1rem;
}
.content >*{
    margin-bottom: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile{
    width:15em;
    height: 15em;
    border-radius: 50%;
}



/* --------------------------------------------------- contact syle--------------------------------------- */


