*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: 'Raleway', sans-serif;
}

.header{
    margin-top: 2rem;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.nav-links{
    display:flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links  a{
    text-decoration: none;
    
}
.nav-link{
    text-decoration: none;
    color: black;
}

.burger >div {
    width:25px;
    height: 3px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s;
}

.burger{
    display: none;
}

.profile{
    width:15em;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #E5E5E5;
}

.highlight{
    display:flex;
    justify-content: space-between;
    margin-top: 2em;
    height: 70vh;
    border-style: solid;
    border-width:1px;
}

.greeting{
    margin-bottom: 1.5em;
    font-family: 'Mulish', sans-serif;
}

.left-side{
    margin-top: 2em;
    display: flex;
    padding: 2em;
}
.content{
    margin-left: 2em;
}
h2,.skills{
    font-family: 'Mulish', sans-serif;
}

.right-side{
    width: 50%;
}

#right-img{
    width: 100%;
    height:100%;
}
.moreBtn{
    margin-top: 2em;;
    width: 10em;
    height: 2em;
    border-radius: 5px;
    background-color: #252526;
    color:#fff;
    font-size: 1rem;
}
.moreBtn:hover{
    transform: scale(1.05);
}

.back-img{
    width: 100%;
}

.skills{
    margin-top: 3em; 
    display: flex;
    justify-content: space-between;
}

.skills >div{
    border-style: solid;
    border-width:1px;
    padding: 2em;
    margin-bottom: 1em;
    box-shadow: 10px 5px 10px 2px #888888;
}
.skill-img{
    width: 15em;
    height: 10em;
}

.story{
    padding: 2em;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
.adress{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;   
}
.adress-div{
    margin: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    color: rgb(56, 143, 56);
}

.content{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

#about{
    margin:auto;
    margin-top: 2em;
}

#personality{
    margin-top: 3em;
    justify-content: center;
    margin-bottom: 2em;
}

@media screen and (max-width: 760px){
    .highlight{
        display: flex;
        flex-direction: column;
        width: 100vw; 
        height: auto;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-side{
        width: 100vw;
        height: 70vh;
    }
    .back-img{
        height: 60%;
    }
  
  .skills{
      display: flex;
      flex-direction: column;
  }

  body{
      overflow-x: hidden;
  }

.nav-links{
      position: absolute;
      right: 0px;
      height: 80vh;
      top: 12vh;
      background-color: lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in  ;
  }

 .nav-links li{
     opacity: 0;
 }
  .burger{
      display:block;
  }

  .nav-active{
      transform: translateX(0%);
  }

  @keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
  } 
  .toggle .line1{
    transform :rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
      opacity: 0 ;
}
.toggle .line3{
    transform :rotate(45deg) translate(-5px, -6px);
}
      
  }

