*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../assets/images/rectangle.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.wrapper{
    height:100vh;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    margin-top: 2rem;
}
nav{
    display:flex;
    justify-content: flex-start;
}

nav >div{  
    margin:0 2em;
}

nav >div:first-child{
    margin-right:20em;
}
.nav-link{
    text-decoration: none;
    color: black;
}

.signup-link{
    background-color: #252526;
    padding: 0.3em;
    border-radius: 5px;
    color: #fff;
}

.highlight{
    display: flex;
    width:70%;
    height:70% ;
    justify-content: center;
    align-items:center;
}

.content{
    margin:0 2em;
}



.moreBtn{
    width: 10em;
    height: 2em;
    border-radius: 5px;
    background-color: #252526;
    color:#fff;
    font-size: 1rem;
}
.moreBtn:hover{
    transform: scale(1.05);
}

.content >*{
    margin-bottom: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile{
    width:15em;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #E5E5E5;
}



/* --------------------------------------------------- contact syle--------------------------------------- */


